.welcome {
  font-family: 'jura', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: indigo;
  margin: 0;
  padding: 20px;
}

.landing-page-logged-in {
  text-align: center;
}

.login-logout {
  font-family: 'Spinnaker', sans-serif;
  text-decoration: none;
}

.description {
  font-family: 'Spinnaker', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.instructions-landing-page {
  font-family: 'jura', sans-serif;
  text-align: center;
}
