.registration-form,
.register {
  text-align: center;
}

.register {
  font-family: 'jura', sans-serif;
  color: white;
  background-color: indigo;
  margin: 0;
  padding: 20px;
}

.registration-form {
  font-family: 'Spinnaker', sans-serif;
}

.user-pass-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
