.login-form,
.login {
  text-align: center;
}

.login {
  font-family: 'jura', sans-serif;
  color: white;
  background-color: indigo;
  margin: 0;
  padding: 20px;
}

.login-form {
  font-family: 'Spinnaker', sans-serif;
}

.username,
.password {
  margin-right: 5px;
}

.name-pass-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
