header,
.welcome {
  text-align: center;
  font-family: 'jura', sans-serif;
  color: white;
}

.header {
  margin: 0;
  padding: 20px;
}

.welcome {
  background-color: indigo;
  margin: 0;
  padding: 20px;
}

.header-logged-in {
  text-align: center;
}

.login-logout {
  font-family: 'Spinnaker', sans-serif;
  text-decoration: none;
}

.description {
  font-family: 'Spinnaker', sans-serif;
}
