.game-title,
.notes-header {
  text-align: center;
  font-family: 'jura', sans-serif;
  color: white;
  background-color: indigo;
}

.game-title {
  margin: 0;
  padding: 10px;
}

.delete {
  padding: 10px;
}

.notes-header {
  padding: 5px;
}

.user-notes,
.date-created,
.go-back {
  font-family: 'Spinnaker', sans-serif;
  text-decoration: none;
}


